DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
FIRMA_PROVIDER=firmaweb
FIRMA_API_KEY=
FIRMA_API_URL=
DAILY_API_KEY=
DAILY_API_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=noreply@conectamente.cl
CRON_SECRET=
INTERNAL_SECRET=
AMELIA_BASE_URL=https://wp.conectamente.cl/wp-admin/admin-ajax.php?action=wpamelia_api&call=
AMELIA_API_KEY=
AMELIA_SERVICE_ID=24
REVALIDATE_SECRET=
