DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AMELIA_BASE_URL=https://wp.conectamente.cl/wp-admin/admin-ajax.php?action=wpamelia_api&call=
AMELIA_API_KEY=
AMELIA_SERVICE_ID=24
REVALIDATE_SECRET=
